.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  text-align: center;
  align-items: center;
  background-color: #1a5276;
  padding: 0.5rem;

  &__container {
    display: flex;
    gap: 1rem;

    & > li {
      color: #fff;
      text-transform: uppercase;
      padding: 0.2rem 1rem;
      border: 2px solid transparent;
      position: relative;
      cursor: pointer;
      position: relative;

      & > ul {
        display: none;
        position: absolute;
        top: 2rem;
        left: 0;
        padding-top: 1rem;
        width: fit-content;

        &:hover {
          display: flex;
          flex-direction: column;
          text-align: left;
          background-color: #1a5276;
        }
      }

      &:hover {
        border-color: gold;
        transition: border-color 0.2s ease-in-out;

        & > ul {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          text-align: left;
          background-color: #1a5276;
          & > li {
            display: block;
            &:hover {
              color: gold;
            }
            & > a {
              display: block;
            }
          }
        }
      }
    }
  }
}
