.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  text-align: center;
  align-items: center;
  background-color: #1a5276;
  padding: 0.5rem;

  &__container {
    display: flex;
    gap: 1rem;

    & > li {
      color: #fff;
      text-transform: uppercase;
      padding: 0.2rem 1rem;
      border: 2px solid transparent;
      cursor: pointer;

      &:hover {
        border-color: gold;
        transition: border-color 0.2s ease-in-out;

        & > ul {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          text-align: left;
          background-color: #1a5276;
          width: fit-content;
        }
      }

      & > ul {
        display: none;
        position: absolute;
        background-color: #1a5276;
        top: 100%;
        text-align: left;
        padding-top: 0.5rem;
        width: fit-content;
      }
    }
  }
}
